<nav>
  <h1>Menu</h1>
  <ul>
    {% for link in site.navigation %} 
    {% assign current = nil %} 
    {% if page.url contains link.url %} {% assign current = 'current'%} {% endif %}
    <li class="{{ current }}">
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
    {% endfor %}
    <li>
      <a href="http://twitter.com/visinpractice">@visinpractice</a>
    </li>
    <li>
      <a href="mailto:vip@ieeevis.org">Contact</a>
    </li>
  </ul>
  <h1>Archive</h1>
  <ul>
    {% for link in site.archive %} 
    {% assign current = nil %} 
    {% if page.url contains link.url %} {% assign current = 'current'%} {% endif %}
    <li class="{{ current }}">
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
    {% endfor %}
  </ul>
  
</nav>