---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

@charset "utf-8";


// --- base colors & fonts -------------------------------------------------

body {
    font-family: 'Cabin', sans-serif;
    font-size: 13px;

    text-rendering: optimizeLegibility;
    line-height: 1.5;	
    
    background: white;
	color: black;
}

main {
    aside, article {
        background: #e2e2e2;
        color: black;
	}
}

header {

    background-color: #e2e2e2;
    
    article {
        //background-image: url(header-teaser.png);
        background-repeat: no-repeat;
        background-size: auto 400px;
        background-position: center;
    }
}

footer {
    background-color: #e2e2e2;

    aside {
        display: none;
    }
}

main aside, main article {
    h1, h2 {
        color: #770202;
    }
}

main article {
    h1 {
        font-size: 130%;
    }

    h2 {
        font-size: 120%;
    }

    h1 + h2 {
        padding: 0;
        margin: 0;
    }
}

a, a:visited {
    color: #d20202;
}

.imagemap {
    position: relative;
}
.imagemap a {
    display: block;      
    position: absolute;
}

nav { 
    ul { 
        padding: 0;

        li 
        {
            list-style: outside square;
            margin-left: 2em;
        } 

        a, a:visited {
            color: black;
            text-decoration: none;
        }
    }
}


main hr {
    border: none;
    border-top: 1px dotted black;
}

header, footer {
    color: #770202;
    
    h1 { 
        font-size: 250%; 
    }

    h2 { 
        font-size: 150%;
    }
}

span {
    display: inline-block;
}

main aside {
    nav ~ * {
        display: none;
        font-size: 90%;
    }

    hr {
        border: none;
        border-top: 1px dotted black;
    }
}

main article img {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    color: #770202;
    font-size: 80%;

    aside {
        text-align: center;
    }

    padding-top: 1em;
    padding-bottom: 1em;
}

h1, h2, h3, h4 {
  font-family: "Cabin", sans-serif;
}

h1 {
    font-size: 100%;
    font-weight: 800;
}

h2 {
    font-size: 120%;
    font-weight: 400;
}

h3 {
    font-size: 100%;
    font-weight: 400;
    text-decoration: underline;
}

h1 + h2 {
}

dl {
    dt {
        margin-top: .5em;
        font-weight: 600;
    }

    dd {
        margin-left: 0;
    }
}

.grid_item {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    fill: #770202;
}

#ieee-logo {
    width: 100px;
    margin-bottom: 1em;
}

#vip-logo {
    width: 120px;
    height: 120px;
}

.left, .right {
    display: inline-block;
    width: 49%;

    vertical-align: top;
}

.guide {
    font-weight: bold;
    color: white;
    font-family: monospace;
    background-color: crimson; 
    padding: 0.25em;
}

// --- mobile --------------------------------------------------------------

header { 
    
    aside img {
        width: 150px;
    }
    
    aside, article {
        text-align: center;
    }

    article img {
        margin: 0;
        padding: 0;
    }
}

// all displays

header {
    padding-top: 1em;
    padding-bottom: 1em;

    margin-bottom: 1em;
}

aside, article {
    padding-right: 2em;
    padding-left: 2em;
}

main aside, main article {
    margin-bottom: 1em;

    padding-bottom: .5em;
    padding-top: .5em;
}

footer {
    text-align: center;
    clear: both;
}

// --- large ---------------------------------------------------------------

@media screen and (min-width: 720px) {

    body {
        display: table;

        margin: 0 auto;

        padding: 1em;
        max-width: 960px;
    }

    header, footer, main {
        display: table-row;

        article, aside {
            display: table-cell;

            padding-bottom: 1em;
            padding-top: 1em;
        }
    }

    header {
        height: initial;

        article {
            background-position: right 2em center;
            background-size: auto 70%;        
        }
    }

    aside {
        min-width: 12em;
        padding-right: 2em;
        padding-left: 2em;

        border-right: 1px dotted black;
    }

    article {
        width: 100%;
        padding-left: 2em;
    }

    header, footer {
        
        aside, article {
            vertical-align: middle;
        }

        aside {
            border-right: 1px dotted black;
        }

        article {
            text-align: left;
        }

        #vip-logo {
            height: 160px;
            width: 160px;
        }
    }

    footer {
        text-align: left;

        aside {
            display: table-cell;
        }
    }

    main aside nav ~ * {
        display: block;
    }
}
