<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

  <header>
    <aside>
      <img id="vip-logo" src="assets/logo-vip.png" />
    </aside>
    <article>
      <svg id='header_svg'></svg>
      <script src="https://d3js.org/d3.v4.min.js"></script>     
      <script>

        var svg_width = +d3.select('article').style('width').substring(0, 3);
        // +d3.select('aside').style('width').substring(0, 3) == +d3.select('article').style('width').substring(0, 3) ? window.innerWidth - 70 : window.innerWidth - 290;
        var numcols = svg_width >= 1080 ? 40 : svg_width >= 720 ? 30 : svg_width >= 320 ? 20 :15;

        window.addEventListener('load', function() { 
          svg_width = +d3.select('article').style('width').substring(0, 3);
          // var svg_width = +d3.select('aside').style('width').substring(0, 3) == +d3.select('article').style('width').substring(0, 3) ? window.innerWidth - 70 : window.innerWidth - 290;
          numcols = svg_width >= 1080 ? 40 : svg_width >= 720 ? 30 : svg_width >= 320 ? 20 :15;
          d3.select("#header_svg")
          .attr('width',svg_width)
          .attr('height', (svg_width / numcols) * 4);
        }); 

        var color_scale = d3.scaleLinear()
        .domain([0,8,16])
        .range([d3.lab("#999999"),d3.lab("#ffffbf"),d3.lab("#fc8d59")])
        .interpolate(d3.interpolateLab);

        var grid = [],
            text = [["V","I","S"],["I","N"],["P","R","A","C","T","I","C","E"],["2","0","1","8"]],
            i,
            j;
        for (i = 0; i < 4; i++) {
          for (j = 0; j < numcols; j++) {
            var grid_item = {
              "row":i,
              "column":j,
              "fill_value": color_scale( Math.floor(Math.random()*16) ),
              "char": j >= text[i].length ? "" : text[i][j]
            };
            grid.push(grid_item);
          }
        }

        var grid_item = d3.select("#header_svg")
            .selectAll(".grid_item")          
            .data(grid);

        var grid_item_exit = grid_item.exit()
        .remove();

        var grid_item_enter = grid_item.enter()
        .append("g")
        .attr("class","grid_item")
        .attr("id", function (d) {
          return "grid_item_" + d.row + "_" + d.column;
        })
        .merge(grid_item);

        grid_item_enter.append('rect')
        .style('stroke','transparent')
        .style('stroke-width','1px')
        .attr('width', d3.max([0,svg_width / numcols - 2]))
        .attr('height', d3.max([0,svg_width / numcols - 2]))
        .style('fill', function(d){          
          return d.char != "" ? '#ffffbf' : color_scale( Math.floor(Math.random()*16) );
        })
        .attr('x', function(d){
          return (svg_width / numcols) * d.column;
        })
        .attr('y', function(d){
          return (svg_width / numcols) * d.row;
        });

        grid_item_enter.append('text')  
        .attr('text-anchor', "middle")
        .attr('alignment-baseline','middle')  
        .attr('dy','0.15em')
        .attr('x', function(d){
          return (svg_width / numcols) * d.column + (svg_width / numcols) * 0.5;
        })
        .attr('y', function(d){
          return (svg_width / numcols) * d.row + (svg_width / numcols) * 0.5;
        })
        .style('font-size', (d3.max([1,svg_width / numcols - 2]) - 1) + 'px')
        .text(function(d){
          return d.char;
        });

        function update () {

          grid = [];
          text = [["V","I","S"],["I","N"],["P","R","A","C","T","I","C","E"],["2","0","1","8"]];
          for (i = 0; i < 4; i++) {
            for (j = 0; j < numcols; j++) {
              var grid_item = {
                "row":i,
                "column":j,
                "fill_value": color_scale( Math.floor(Math.random()*16) ),
                "char": j >= text[i].length ? "" : text[i][j]
              };
              grid.push(grid_item);
            }
          }

          d3.select("#header_svg")
          .attr('width',svg_width)
          .attr('height', (svg_width / numcols) * 4);

          var grid_item_update = d3.selectAll(".grid_item")
          .transition()          
          .duration(3000)
          .ease(d3.easeCubicInOut);
          
          grid_item_update.select('rect')          
          .attr('width', d3.max([0,svg_width / numcols - 2]))
          .attr('height', d3.max([0,svg_width / numcols - 2]))
          .style('fill', function(d){
            return d.char != "" ? '#ffffbf' : color_scale( Math.floor(Math.random()*16) );
          })
          .attr('x', function(d){
            return (svg_width / numcols) * d.column;
          })
          .attr('y', function(d){
            return (svg_width / numcols) * d.row;
          });  

          grid_item_update.select('text')  
          .attr('text-anchor', "middle")
          .attr('alignment-baseline','middle')  
          .attr('dy','0.15em')
          .attr('x', function(d){
            return (svg_width / numcols) * d.column + (svg_width / numcols) * 0.5;
          })
          .attr('y', function(d){
            return (svg_width / numcols) * d.row + (svg_width / numcols) * 0.5;
          })
          .style('font-size', (d3.max([1,svg_width / numcols - 2]) - 1) + 'px')
          .text(function(d){
            return d.char;
          });
        }

        window.onresize = function(e) {

          svg_width = +d3.select('article').style('width').substring(0, 3);
          // svg_width = +d3.select('aside').style('width').substring(0, 3) == +d3.select('article').style('width').substring(0, 3) ? window.innerWidth - 70 : window.innerWidth - 290;
          numcols = svg_width >= 1080 ? 40 : svg_width >= 720 ? 30 : svg_width >= 320 ? 20 :15;
          update();
        };   

        d3.interval(function() {
          update();
        }, 4000);

      </script>
    </article>
  </header>

  <main>
    <aside>
      {% include nav.html %}
      <hr />
      {% capture my_include %}{% include dates.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </aside>
    <article>
      {{ content }}
    </article>
  </main>

  <footer>
    <aside>
      Last update: {{ page.last_modified_at | date: '%b %e, %Y' }}
    </aside>
    <article>
       <span style="float: left; ">
	   © 2018 VisInPractice, part of IEEE VIS 2018, Berlin, Germany, October 22, 2018. 
	   </span>
	   <span style="float: right;">
	   <a href="disclaimer.html">Disclaimer</a>
	   </span>
    </article>
  </footer>

</body>

</html>