<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

  <header>
    <aside>
      <!-- <img id="vip-logo" src="assets/logo-vip.png" /> -->
    </aside>
    <article>
      <h1>
        <b><span>Visualization in Practice 2018</span></b><br />
	  </h1>
	  <h2>
        <span>at IEEE VIS 2018,</span>
        <span>Berlin, Germany, October 21-26, 2018</span>
      </h2>
    </article>
  </header>

  <main>
    <aside>
      {% include nav.html %}
      <hr />
      {% capture my_include %}{% include dates.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </aside>
    <article>
      {{ content }}
    </article>
  </main>

  <footer>
    <aside>
      Last update: {{ page.last_modified_at | date: '%b %e, %Y' }}
    </aside>
    <article>
       <span style="float: left; ">
	   © 2018 Vis in Practice, part of IEEE VIS 2018, Berlin, Germany, October 21-26, 2018. 
	   </span>
	   <span style="float: right;">
	   <a href="disclaimer.html">Disclaimer</a>
	   </span>
    </article>
  </footer>

</body>

</html>